@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap')

body{
    font-family: "Azeret Mono", monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* first section style  */
    /* banner design  */

.first-section-container{
    width: 1275px;
    height: 592px;
    margin: 0 auto;
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgba(0,0,0,0.01);
    background-blend-mode: overlay;
}

.first-section-content{
    width: 50%;
    height: 540px;
    margin: 22px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.first-section-container h1{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.first-section-content p{
    font-size: 22px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.contact-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 400;
    padding: 8px 18px 8px 18px;
    background-color: rgb(13, 19, 33);
    border-radius: 4px;
}



/* web section style  */

.web-section-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    background-color: rgba(13, 19, 33, 0.02);

}


.web-parent{
    width: 946px;
    height: 1235px;
    margin:0 auto;
    margin-top: 80px;
}

.web-parent h1{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;

}

.web-title-description{
    font-size: 18px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 22px;
    
}

#group-shared{

    width: 946px;
    height: 336px;
    margin-top: 32px;
    padding: 48px;
}
.web-group1{
    display: flex;
        
}

.group1-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 70%;
    background-color: white;
}

.group1-text h3{
    
    color: rgba(13, 19, 33, 0.9);
    font-size: 24px;
    font-weight: 700;
    text-align: left;

}

.primary-btn{
    width: 101px;
    height: 37px;
    
    border: 1px solid rgb(13, 19, 33);
    padding: 10px 15px 10px 15px;
    opacity: 0.8;

}



/* inspiration section style  */

.inspiration-section-container{

    width: 1140px;
    height: 11960spx;
    margin: 0 auto;
    margin-top: 74px;
    }

.inspiration-section-container h1{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.ins-heading{
    width: 70%;
    margin: 0 auto;
}

.ins-heading p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin: 20px 0px;
    text-align: center;

}


.video1{
    width: 100%;
    height: 100%;
    margin:0 auto;
    padding: 32px;
}

.inspiration-video{
    width: 100%;
    height: 100%;
    margin-top: 48px;

}



/* target section style  */

.target-section-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 75px;
}


.target-upper-content{
    width: 946px;
    height: 113px;
    margin: 0 auto;
}

.target-upper-content h1{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.target-upper-content p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin: 20px 0px;
    text-align: center;
}

.target-box-container{
    width: 1140px;
    height: 299px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.target-box{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding: 40px;

    
}

.skill-text{
    width: 284px;
    height: 139px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-text p{
    font-size: 12px;
    font-weight: 400;
    color: #05080e;
}

.learn-more{
    font-size: 16px;
    font-weight: 700;
    color: black;
}


/* support section style  */

.support-section-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;

    background-image: url(../B10A1-Challenge-Begins/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}

.support-parent{
    width: 1044px;
    height: 185px;
}

.support-title{
    width: 730px;
    height: 104px;
    margin: 0 auto;
}

.support-title h1{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);


}

.support-title p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 16px;
}


.support-box{
    width: 684px;
    height: 57px;
    margin: 0 auto;
    margin-top: 24px;
}

.feedback-box{
    width: 548px;
    height: 52px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background-color: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;

}

.submit-btn{
    width: 120px;
    height: 52px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    align-items: right;
    background-color: rgb(255, 255, 255);
}


/* footer style  */

.footer-parent{
    width: 1270px;
    height: 100px;
    margin: 0 auto;
    padding: 32px 130px 32px 130px;
    margin-top: 78px;
    border-radius: 16px;

    background-color: rgba(13, 19, 33, 0.03);

    display: flex;
    justify-content: space-between;
    gap: 615px;

}

.f-text{
    width: 456px;
    height: 24px;
}

.f-text h4{
    font-size: 15px;
    font-weight: 600;
    color: rgb(13, 19, 33);    
}

.f-icon{
    width: 157.01px;
    height: 36px;
    align-items: center;
}

.link-icon{
    width: 30px;
    height: 30px;
}


/* ---END--- */